__pycache__/
.vscode/
data/train
Original_jpg/tak.jpg
Original_jpg/sewhan/.jpg
stargan_new_6_leaky/models/*.ckpt
stargan_new_6_leaky/results/angry/*.jpg
stargan_new_6_leaky/results/fearful/*.jpg
stargan_new_6_leaky/results/happy/*.jpg
stargan_new_6_leaky/results/mesh_result/*.jpg
stargan_new_6_leaky/results/neutral/*.jpg
stargan_new_6_leaky/results/sad/*.jpg
stargan_new_6_leaky/results/surprised/*.jpg
stargan_new_6_leaky/results/sad/*.jpg
stargan_new_6_leaky/results/total/*.jpg

shape_predictor_68_face_landmarks.dat.bz2
shape_predictor_68_face_landmarks.dat